.loader {
  background-color: transparent;
  width:  10px;
  height: 10px;
  border-radius: 100%;
  margin-bottom: 20px;
  box-shadow:
          12px -12px hsla(357, 73%, 57%, 0.125),
          17px     0 hsla(357, 73%, 57%, 0.250),
          12px  12px hsla(357, 73%, 57%, 0.375),
          0  17px hsla(357, 73%, 57%, 0.500),
          -12px  12px hsla(357, 73%, 57%, 0.625),
          -17px     0 hsla(357, 73%, 57%, 0.750),
          -12px -12px hsla(357, 73%, 57%,0.875),
          0 -17px hsl(357, 73%, 57%);
  animation: clockwise 0.75s steps(8, end) infinite;
}

@keyframes clockwise
{
  to {transform: rotate(360deg) translatez(0);}
}
