.loader_coffee{
  background:var(--accent-color);
  height:80px;
  width:80px;
  border:6px solid var(--accent-color);
  box-shadow: 0 0 0 10px white;
  margin:auto;
  position: relative;
  border-radius: 0 0 110px 110px;
  background-image: linear-gradient( 0deg, white 0, white 110px, transparent 110px, transparent 230px);
  background-size: 230px 230px;
  background-position: 0 0;
  animation: fill 3s infinite alternate;
}

.loader_coffee:before{
  position: absolute;
  content: "";
  height: 29px;
  width: 29px;
  border:10px solid white;
  border-radius: 0 40px  40px 0;
  right: -55px;
}
@keyframes fill {
  100%{ background-position: 0 -110px;}
}
