.popup{
  position: absolute;
  top:22px;
  right:20px;
  width: calc(var(--index)*7);
  height: max-content;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  font-size: calc(var(--index)*0.5);
  div{
    color: rgba(16, 41, 125, 0.8);
    padding:calc(var(--index)*0.2) calc(var(--index)*0.3);
    cursor: pointer;
    &:hover{
      color: rgba(16, 41, 125, 0.9);
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 8px;
    }
  }
}