.wrapper{
  position: relative;
  .deleteElement{
    position: absolute;
    height: 15px;
    width: 15px;
    right: 8px;
    top: 8px;
    &:hover {
      &::before,
      &::after {
        background-color: rgba(255, 255, 255, 0.85);
      }}
    &::before,&::after{
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      height: 2px;
      width: 15px;
      background-color: rgba(255, 255, 255, 0.4);
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
