.formWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(var(--index)*1);
  gap:calc(var(--index)*.6) ;
  box-shadow: rgba(0, 0, 0, 0.17) 3px 10px 20px, rgba(0, 0, 0, 0.10) 3px 6px 6px;
  border-radius: 8px;
  h3{
    text-align: center;
  }
  .fileInputContainer{
    position: absolute;
    top:10px;
    left:72%;
    input{
      top:-5px;
      position: absolute;
      width: 30px;
      height: 30px;
      opacity: 0;
    }
    & img{
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .imageGroup{
    position: absolute;
    right: -68px;
    top:-178px;
    z-index: 3;
  }
  .form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:calc(var(--index)*1.2) ;
    & textarea{
      width: 75%;
      height: 20vh;
      resize: none;
      border: 1px solid #ffe8ea;
      border-radius: 8px;
      padding: calc(var(--index)*.5) calc(var(--index)*1);
      box-shadow: rgba(0, 0, 0, 0.05) 0 6px 6px;
      outline: none;
      font-size: calc(var(--index)*.8);
      &::placeholder{
        color: #9b8888;
        font-size: calc(var(--index)*.6);
      }
      &:focus{
        box-shadow: rgba(0, 0, 0, 0.05) 0 10px 20px, rgba(0, 0, 0, 0.05) 0 6px 6px;
      }

    }
    .buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      .starsTitle{
        margin-bottom: calc(var(--index)*.3);
      }
      .buttonWrapper{
        position: relative;
        margin-top: auto;
      }
      .submitButton{
        background-color: #ffcfcf;
        border: none;
        border-radius: 8px;
        outline: none;
        font-size: calc(var(--index)*0.8);
        color: var(--accent-color);
        padding: calc(var(--index)*.3) calc(var(--index)*.6);
        transition: ease 0.3s;
        cursor: pointer;
        &:hover{
          background-color: #fcb9b9;
          box-shadow: rgba(0, 0, 0, 0.05) 0 6px 6px;
        }
      }
    }
  }
}
.previews{
  display: flex;
  flex-direction: row;
  gap:calc(var(--index)*.5);
  padding: 0 calc(var(--index)*.2);
}
.sumOfImg{
  font-size: calc(var(--index)*0.5);
  color: rgba(23, 23, 23, 0.5);
}
