.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
  .title{
    color: rgba(12, 28, 75, 0.8);
    font-size: calc(var(--index)*2);
    margin-bottom:calc(var(--index)*2.5) ;
  }
  .form{
    display: flex;
    flex-direction: column;
    gap:calc(var(--index)*1.5);
    margin-bottom:calc(var(--index)*2);
    align-items: center;
    .email,.password,.nickname{
      width: calc(var(--index)*12);
      height: calc(var(--index)*1.5);
      border:1px solid #fcb9b9;
      border-radius: 8px;
      padding: 5px 10px;
      transition: ease 0.1s;
      &:focus{
        outline: 2px solid #fcb9b9;
      }
    }
    .button{
      width: max-content;
      padding: 8px 40px;
      border: none;
      border-radius: 8px;
      background-color: #fa8e90;
      outline: none;
      color: #fee6e6;
      font-size: calc(var(--index)*.8);
      transition: ease 0.3s;
      &:hover{
        background-color: var(--accent-color);
      }
    }
  }
  span{
    color: rgba(12, 28, 75, 0.7);
    .accent{
      color: rgba(12, 28, 75, 1);
      transition: ease 0.5s;
      &:hover{
        text-decoration: underline;

      }
    }
    +span{
      margin-top: calc(var(--index)*1);
    }
  }
}