.notification{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 900px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 25px;
  gap:calc(var(--index));
  background-color: white;
  color: #10297d;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 21;
  .info{
    font-size: calc(var(--index)*.5);
  }
  button{
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: #10297d;
    &.accept{
      background-color: #10297d;
      color: #fee6e6;
      border-radius: 4px;
      padding: calc(var(--index)*.2) calc(var(--index)*1.2);
      &:hover{
        opacity: 0.95;
      }
    }
    &.deny{
      border: 1px solid #10297d;
      padding: calc(var(--index)*.2) calc(var(--index)*1.2);
      border-radius: 4px;
    }
    &.close{
      position: absolute;
      top: 8px;
      right: 10px;
      font-size: calc(var(--index)*.6);
    }
  }
}