.coffeePoints{
  background-color: var(--bg-color);
  min-height: 100vh;
}
.contentWrapper{
  max-width: 1140px;
  margin: 0 auto;
  padding-top: var(--header-height);
  padding-bottom: var(--index);
  h1 {
    margin-bottom: calc(var(--index)*2);
    color: var(--second-color);
    font-size: 18px;
    span{
      text-transform: uppercase;
      font-size: 38px;
    }
  }
}
.cardsWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:calc(var(--index)*1.5);
}
.mainButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  border: none;
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: calc(var(--index)*1) calc(var(--index)*2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
