.wrapper{
  display: grid;
  grid-template-areas: 'user user button'
                       'title fav fav';
  grid-template-rows: min-content auto ;
  min-height: calc(100vh - var(--header-height));
  max-width: 1140px;
  margin: var(--header-height) auto 0;
  gap: var(--index);
  >button{
    grid-area: button;
  }
  >h1{
    grid-area: user;
    font-size: calc(var(--index)*1.5);
    color: var(--second-color);
  }
  >h2{
    grid-area: title;
  }
}
.favWrapper{
  grid-area: fav;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:var(--index);
  height: min-content;
}